<div class="row">
  <div class="column">
    <h4 class="sub-heading">Results for campaign <a href="{{ campaignUrl }}" target="_blank">{{ campaignUrl }}</a></h4>
  </div>
</div>
<div class="row">
  <div class="column column-75 results-container">
    {{#each results}}
    <div class="result-container">
      <label class="label-result">/{{ language }}/</label>
      <table class="result-table">
        <thead>
          <tr>
            <th>Element</th>
            <th>Desktop</th>
            <th>Mobile</th>
            <th>Native</th>
          </tr>
        </thead>
        <tbody>
          {{#each result.optInResults}}
          <tr>
            <td>Opt In Link</td>
            <td>
              {{#if dsk.pass}}
                <i class="fa fa-check success icon-big"></i>
              {{else}}
                <i class="fa fa-exclamation-triangle error" aria-hidden="true"></i> <span class="error">{{dsk.err}}</span>
              {{/if}}
            </td>
            <td>
              {{#if mob.pass}}
                <span class="success"><i class="fa fa-check success icon-big"></i></span>
              {{else}}
                <i class="fa fa-exclamation-triangle error" aria-hidden="true"></i> <span class="error">{{mob.err}}</span>
              {{/if}}
            </td>
            <td>
              {{#if nat.pass}}
                <span class="success"><i class="fa fa-check success icon-big"></i></span>
              {{else}}
                <i class="fa fa-exclamation-triangle error" aria-hidden="true"></i> <span class="error">{{nat.err}}</span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/each}}
  </div>
  <div class="column">
    <aside>
      <div class="result-overview-container">
        <label class="label-side">Overview</label>
        <table class="result-overview-table">
          <tbody>
            <tr>
              <td>Total Links:</td>
              <td>{{ summary.countTotal }}</td>
            </tr>
            <tr>
              <td>Passed:</td>
              <td>{{ summary.countPass }}</td>
            </tr>
            <tr>
              <td>Errors:</td>
              <td>{{ summary.countErr }}</td>
            </tr>
          </tbody>
        </table>
        {{#if summary.warnings.length}}
        <label class="label-side">Warnings</label>
        <table class="result-warning-table">
          <tbody>
            {{#each summary.warnings}}
            <tr>
              <td><i class="fa fa-exclamation warning" aria-hidden="true"></i> {{ this }}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{/if}}
      </div>
      <div class="result-recap-container">
        <label class="label-side primary">Result</label>
        <div class="result-symbol-container">
          {{#if summary.passed}}
          <i class="fa fa-smile-o success"></i>
          <h4 class="no-margin success">All tests passed!</h4>
          {{else}}
          <i class="fa fa-frown-o error" aria-hidden="true"></i>
          <h4 class="no-margin error">Test failed</h4>
          {{/if}}
        </div>        
      </div>
    </aside>

  </div>
</div>
<div class="row" style="margin-bottom: 3rem;">
  <div class="column"><a href="/" class="button button-outline">Go back</a></div>
</div>
<script type="text/javascript">
const asidePosY = ($('aside').offset()).top;
$(window).scroll(function() {
  setTimeout(function() {
    const scrollTop = $(this).scrollTop();
    if (scrollTop > asidePosY) {
      $('aside').css('top', scrollTop - asidePosY + 15);
    }
    if (scrollTop < asidePosY) {
      $('aside').css('top', 0);
    }
  }, 10)
});
</script>
